<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- BS CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- FA CSS -->
    <link rel="stylesheet" href="css/all.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cairo|Poppins|Josefin+Sans|Barlow|Asap|Exo|Yantramanav"
        rel="stylesheet">


    <style>
        .card {
            margin: 0 auto;
            /* Added */
            float: none;
            /* Added */
            margin-bottom: 10px;
            /* Added */
            margin-top: 100px;
        }
    </style>
</head>

<body style="background-image: url('img/bg-login.jpg'); background-repeat: none;">
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="dashboard.html">Navbar</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="template.html">Templates <i class="far fa-clipboard"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="registerForm.html">Register <i class="fa fa-plus"></i></a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">Login <i class="fa fa-sign-in-alt"></i></a>
            </li>
        </ul>
    </nav>
    <!-- Navbar end -->

    <!-- Content -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div class="card"
                    style="color: rgb(70, 70, 70); font-family: 'Cairo',sans-serif; background-color:rgba(255,255,255, 0.6); box-shadow: 0px 0px 10px dimgrey;">
                    <h5 class="card-header" style="font-size: 30px; ">Reset Password</h5>
                    <div class="card-body">
                        <form th:action="@{/resetProses}" method="post" th:object="${anggota}">
                            <p class="card-text">
                                <input type="hidden" th:field="*{id_user}">
                                <label for="password">New Password</label>
                                <input type="password" th:field="*{password}" class="form-control" id="password" required>
                                <label for="conpassword">Confirm New Password</label>
                                <input type="password" name="conpassword" class="form-control" id="conpassword" required>
                            </p>
                            <button type="submit" id="subbutton" class="btn btn-primary float-right">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EoC -->

    <!-- BS JS -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- FA JS -->
    <script src="vendor/fontawesome-free/js/all.min.js"></script>
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script>
       
            $("#subbutton").click(function(e){
                
                if ($("#password").val() == $("#conpassword").val()) {
                    alert("password telah berhasil di update!");
                } else {
                    e.preventDefault()
                    alert("password not match");
                }
            })
        
    </script>
</body>

</html>